@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        $.support.cors = true;
        var oTable = new TableInit();
        oTable.Init();
    })
    var TableInit = function () {

        var oTableInit = new Object();

        /*初始化Table*/

        oTableInit.Init = function () {

            $('#gridList').dataGrid({
                height: $(window).height() - 96,
                url: "@Url.Action("GetTreeGridJson", "Subject")",// ,         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                //toolbar: '#bstoolbar',                //工具按钮用哪个容器
                //striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                //sortable: true,                     //是否启用排序
                //sortOrder: "asc",                   //排序方式
                //传递参数（*）
                queryParams: function (params) { return { keyword: $("#txt_keyword").val() }; },
                //showExport: true,                     //是否显示导出
                //exportDataType: "basic",              //basic', 'all', 'selected'.
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25],        //可供选择的每页的行数（*）
                //search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                //strictSearch: true,
                //showColumns: false,                  //是否显示所有的列
                //showRefresh: true,                  //是否显示刷新按钮
                //minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "F_Id",                     //每一行的唯一标识，一般为主键列
                //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                //cardView: false,                    //是否显示详细视图
                //detailView: true,                   //是否显示父子表
                treeGrid: true,
                treeGridMainID: "F_Id",
                treeGridParentID: "F_ParentId",
                sortName: "",
                columns: [
                   { radio: true },
                    { title: '主键', field: 'F_Id', align: 'center', visible: false },
                    { title: '编码', field: 'F_EnCode', align: 'center'  },
                    { title: '名称', field: 'F_FullName', align: 'center'  },
                    { title: '区域', field: 'F_WorkAreaId', align: 'center'  },
                    { title: '类型', field: 'F_Type', align: 'center'  },
                    { title: '地址', field: 'F_Address', align: 'center'  },
                    { title: '描述', field: 'F_Description', align: 'center'  },
                    {
                        title: '小图', field: 'F_MinImage', align: 'center', formatter: function (value, row, index) {
                            var s = '<a class = "view"  href="javascript:void(0)"><img style="width:70;height:30px;"  src="' + value + '" /></a>';
                            return s;
                        } },
                    {
                        title: '图1', field: 'F_Image01', align: 'center', formatter: function (value, row, index) {
                            var s = '<a class = "view"  href="javascript:void(0)"><img style="width:70;height:30px;"  src="' + value + '" /></a>';
                            return s;
                        } },
                    {
                        title: '图2', field: 'F_Image02', align: 'center', formatter: function (value, row, index) {
                            var s = '<a class = "view"  href="javascript:void(0)"><img style="width:70;height:30px;"  src="' + value + '" /></a>';
                            return s;
                        } },
                    {
                        title: '图3', field: 'F_Image03', align: 'center', formatter: function (value, row, index) {
                            var s = '<a class = "view"  href="javascript:void(0)"><img style="width:70;height:30px;"  src="' + value + '" /></a>';
                            return s;
                        }},
                    {
                        title: '图4', field: 'F_Image04', align: 'center', formatter: function (value, row, index) {
                            var s = '<a class = "view"  href="javascript:void(0)"><img style="width:70;height:30px;"  src="' + value + '" /></a>';
                            return s;
                        }},
                    {
                        title: '客户', field: 'F_ClientId', align: 'center',
                        formatter: function (value, row, index) {
                            return top.clients.user[value] == null ? "-" : top.clients.user[value]["F_RealName"];
                        } },
                    {
                        title: '施工人员', field: 'F_ImplementId', align: 'center',
                        formatter: function (value, row, index) {
                            return top.clients.user[value] == null ? "-" : top.clients.user[value]["F_RealName"];
                        } },
                    {
                        title: '设计者', field: 'F_DesignId', align: 'center',
                        formatter: function (value, row, index) {
                            return top.clients.user[value] == null ? "-" : top.clients.user[value]["F_RealName"];
                        }},
                    {
                        title: '项目管理者', field: 'F_ManageId', align: 'center',
                        formatter: function (value, row, index) {
                            return top.clients.user[value] == null ? "-" : top.clients.user[value]["F_RealName"];
                        }},
                    {
                        title: '质量监督员', field: 'F_IPQC', align: 'center',
                        formatter: function (value, row, index) {
                            return top.clients.user[value] == null ? "-" : top.clients.user[value]["F_RealName"];
                        } },
                    { title: '状态', field: 'F_Status', align: 'center'  },
                  //  { title: '所属人', field: 'F_OwnerId', align: 'center'  },
                   // { title: '排序码', field: 'F_SortCode', align: 'center'  },
                    { title: '', field: 'F_DeleteMark', align: 'center'  },
                     { title:'有效', field: 'F_EnabledMark', align: 'center', width: '60',
                    formatter: function (value, row, index) {
                    if (value == 1) { return '<i class="fa fa-toggle-on"></i>'; }else{ return '<i class="fa fa-toggle-off"></i>'; }
                     } },
                    { title: '', field: 'F_CreatorTime', align: 'center'  },
                  

                ]
            });
            $("#btn_search").click(function () {
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
            });
        }
        return oTableInit;
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增",
            url: "@Url.Content("~/ProductManage/Subject/Form")",
            width: "850px",
            height: "950px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $.parseJSON(JSON.stringify($("#gridList").bootstrapTable('getSelections')))[0].F_Id;
        $.modalOpen({
            id: "Form",
            title: "编辑",
            url: "@Url.Content("~/ProductManage/Subject/Form")?keyValue=" + keyValue,
            width: "450px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "@Url.Content("~/ProductManage/Subject/DeleteForm")",
            param: { keyValue: $.parseJSON(JSON.stringify($("#gridList").bootstrapTable('getSelections')))[0].F_Id },
            success: function () {
                //$.currentWindow().$("#gridList").resetSelection();
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").bootstrapTable('refresh');
            }
        })
    }


</script>

<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td style="padding-left: 2px;">
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>


