﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment>
        <link href="~/css/framework-font.css" rel="stylesheet" />
        <link href="~/css/framework-theme.css" rel="stylesheet" />
        <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
        <script src="~/js/bootstrap/bootstrap.js"></script>
        <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/wdtree/tree.js"></script>
        <link href="~/js/wdtree/tree.css" rel="stylesheet" />
        <link href="~/js/select2/select2.min.css" rel="stylesheet" />
        <script src="~/js/select2/select2.min.js"></script>
        <link href="~/js/wizard/wizard.css" rel="stylesheet" />
        <script src="~/js/wizard/wizard.js"></script>
        <script src="~/js/validate/jquery.validate.min.js"></script>
        <script src="~/js/datepicker/WdatePicker.js"></script>
        <link href="~/css/framework-ui.css" rel="stylesheet" />
        <script src="~/js/framework-ui.js"></script>
        @*<script src="~/js/h5upload.js"></script>
        <link href="~/js/webupload/webuploader.css" rel="stylesheet" />
        <script src="~/js/webupload/webuploader.js"></script>*@
    </environment>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
