﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/framework-font.css" rel="stylesheet" />
    <link href="~/css/framework-theme.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.js"></script>
    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/layout/jquery.layout.js"></script>
    <script src="~/js/wdtree/tree.js"></script>
    <link href="~/js/wdtree/tree.css" rel="stylesheet" />
    @*<script src="~/js/jqgrid/jqgrid.min.js"></script>
        <link href="~/js/jqgrid/jqgrid.css" rel="stylesheet" />
        <script src="~/js/jqgrid/grid.locale-cn.js"></script>*@
    <script src="~/js/bootstrap-table/src/bootstrap-table.js"></script>
    <link href="~/js/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" />
    <script src="~/js/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>
    <link href="~/js/bootstrap-table/src/TreeGrid.css" rel="stylesheet" />
    <script src="~/js/bootstrap-table/src/tableExport.min.js"></script>
    <link href="~/css/framework-ui.css" rel="stylesheet" />
    <script src="~/js/framework-ui.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
